/* h1 color - #FFFFFF 
HERO BCG - #2E2F42
h2 color - #2E2F42 
h3 color - #2E2F42   2
nav color - #2E2F42  2
text color - #434455
footer tekst color - #E7E9FC
footer bcg - #2E2F42
logo colors - iris #4D5AE5, naviblu #2E2F42
button - #FFFFFF
links -  slate #434455
filter buttons - text #4D5AE5 bcg #F4F4FD, text #FFFFFF bcg #4D5AE5
background - */

:root {
	--primary-text-color: #434455;
	--title-color: #2e2f42;
	--accent-color: #4d5ae5;
}

body {
	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
	background-color: #fff;
	color: #000000;
}

/* logo */

.logo {
	color: #4d5ae5;
	width: 44px;
	height: 22px;

	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
}
.logo-studio {
	color: #2e2f42;
	width: 71px;
	height: 22px;

	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 21px;
}

.logo,
.logo-studio {
	text-decoration: none;
}

/* navigation */
/* .nav {
}
.nav-list {
}
.nav-item {
} */
.nav-link {
	color: var(--title-color);
	text-decoration: none;
}
.nav-link:hover,
.nav-link:focus {
	color: var(--accent-color);
}

/* authorization */

/* .auth-item {
} */
.auth-link {
	color: var(--primary-text-color);
	text-decoration: none;
}
.auth-link:hover,
.auth-link:focus {
	color: var(--accent-color);
}
/* hero */

.hero {
	background-color: var(--title-color);
}
.hero-title {
	color: #ffffff;
}
.hero-button {
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;
}

/* features */

/* .features {
} */
/* .features-title {
}
.features-list {
}
.features-item {
} */
.title {
	color: var(--title-color);
}
.text {
	color: var(--primary-text-color);
}

/* what we are doing */

/* .work {
} */
.work-title {
	color: var(--title-color);
}
/* .work-list {
}
.work-item {
} */

/* our team */

/* .team {
} */
.team-title {
	color: var(--title-color);
}
.team-text {
	color: var(--primary-text-color);
}

/* footer */

.footer {
	background-color: var(--title-color);
}
.footer-text {
	color: #ffffff;
}
.logo-footer {
	color: #f4f4fd;
}

/* portfolio */

/* .pfolio-title {
}
.filter {
} */
.filter-button {
	background-color: #f4f4fd;
	color: var(--accent-color);
	cursor: pointer;
}
.filter-button:hover,
.filter-button:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}
/* .filter-item {
} */
/* .pfolio-list {
}
.pfolio-item {
} */
.pfolio-heading {
	color: var(--title-color);
}
.pfolio-type {
	color: var(--primary-text-color);
}
