:root {
	--primary-text-color: #434455;
	--title-color: #2e2f42;
	--accent-color: #4d5ae5;
}

body {
	background-color: #fff;
	color: #434455;

	font-family: "Raleway", sans-serif;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

/* logo */

.logo {
	color: #4d5ae5;
	width: 44px;
	height: 22px;

	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
}
.logo-studio {
	color: #2e2f42;
	width: 71px;
	height: 22px;

	font-family: "Raleway";
	font-weight: 800;
	font-size: 18px;
	line-height: 1.17;
}

.logo,
.logo-studio {
	text-decoration: none;
}

/* navigation */

.nav-link {
	color: var(--title-color);
	text-decoration: none;
	width: 48px;
	height: 24px;

	font-weight: 600;
}
.nav-link:hover,
.nav-link:focus {
	color: var(--primary-text-color);
}

/* authorization */

.auth-link {
	color: var(--primary-text-color);
	text-decoration: none;
}
.auth-link:hover,
.auth-link:focus {
	color: var(--accent-color);
}
/* hero */

.hero {
	background-color: var(--title-color);
}
.hero-title {
	color: #ffffff;

	font-weight: 600;
	font-size: 56px;
	line-height: 1.07;
}
.hero-button {
	background-color: var(--accent-color);
	color: #ffffff;
	cursor: pointer;

	font-weight: 600;
	font-size: 16px;
	line-height: 1.19;
}

/* features */

.features-title {
	display: none;
}

.title {
	color: var(--title-color);

	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
}

/* what we are doing */

.work-title {
	color: var(--title-color);

	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
}

/* our team */

.team-title {
	color: var(--title-color);

	font-weight: 600;
	font-size: 36px;
	line-height: 1.11;
}

/* footer */

.footer {
	background-color: var(--title-color);
}
.footer-text {
	color: #ffffff;
}
.logo-footer {
	color: #f4f4fd;
}

/* portfolio */

.filter-button {
	background-color: #f4f4fd;
	color: var(--accent-color);
	cursor: pointer;

	font-family: "Roboto";
	font-weight: 600;
}
.filter-button:hover,
.filter-button:focus {
	background-color: var(--accent-color);
	color: #ffffff;
}

.pfolio-title {
	display: none;
}

.pfolio-heading {
	color: var(--title-color);
	font-weight: 600;
	font-size: 20px;
	line-height: 1.2;
}
